
:root {
    --body-color: #071e3df3;
    --header-footer-color: #286bf121;
    --heading-color: #ebfcf9;
    --section-color: #1f42872b;
    /* --text-color: #E8F1F5; */
    --text-color: #e8f1f5f9;
    --nav-link-color: #ebfcf9f4;
    --button-color: #405cf5;
    --button-color2: #21E6C1;
}

#about h2 {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    letter-spacing: .1rem;
}

#ad {
    max-height: 95vh;
    max-width: 90vw;
    opacity: .86;
}

body {
    background: radial-gradient(circle, rgba(17,17,29,1) 31%, rgba(13,13,37,1) 75%, rgba(14,14,50,1) 92%, rgba(17,15,57,1) 100%);
    color: var(--text-color);
    margin: 0 .7rem;
    padding-top: 1vh;
}

.carousel-item {
    visibility: hidden;
}
.item-detail {
    visibility: hidden;
}

#about {
    background-color: var(--section-color);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.101);
}

.active {
    visibility: visible;
}

.button {
    background-color: var(--button-color);
    border: 1px solid rgba(255, 255, 255, 0.126);
    border-radius: 4px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.922);
    color: var(--text-color);
    font-size: 12pt;
    font-weight: bold;
    padding: .45rem 1.4rem;
    margin: 1px;

}

/* CSS */
button[type="submit"] {
  appearance: button;
  backface-visibility: hidden;
  background-color: var(--button-color);
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: var(--text-color);
  cursor: pointer;
  font-family: "Lato", sans-serif;
  font-size: 90%;
  font-weight: 600;
  height: 40px;
  line-height: 1.15;
  margin: 5px 0;
  outline: none;
  overflow: hidden;
  padding: 0 20px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 29%;
}

.button:disabled {
  cursor: default;
}

.button:focus {
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}

.button:active {
    border: 1px solid rgba(255, 255, 255, 0.24);
    box-shadow: none;
}

.button-container {
    display: flex;
    justify-content: center; 
    width: 100%; 
}


#contact {
    align-items: center;
    background-color: var(--section-color);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.097);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#content {
    background-color: var(--section-color);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.088);
}

#contact input, #contact textarea {
    background-color: rgba(34, 193, 127, 0.247);
    border: none;
    border-radius: 4px;
    color: var(--text-color);
    margin: .2rem 1rem;
    padding: .45rem;
    width: 45vw;
}

#contact button {
    background-color: var(--button-color);
    border: none;
    border-radius: 3px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.494);
    color: var(--text-color);
    letter-spacing: .2px;
    padding: 3px 7px;
}
#contact button:active {
    box-shadow: none;
}

footer {
    background-color: var(--header-footer-color);
    border-radius: 4px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.131);
    color: var(--text-color);
    font-size: .65rem;
    margin: 10px auto;
    text-align: center;
    padding: .01rem;
}

.form-row {
    display: flex;
    align-items: center;
    margin-bottom: 8px; 
}

h1, h2 {
    color: var(--heading-color);
    font-family: "Shadows Into Light", cursive;
    font-size: 26pt;
}

.hamburger-menu {
    color: var(--button-color);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.542);
    display: none; 
    order: 1; /* Ensure menu comes first in small screens */
    margin-right: 10px;
    position: fixed; 
    right: 10px; /* Adjust based on your layout needs */
    top: 10px;
}
.hamburger-menu:hover {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.277);
}
.hamburger-menu:active {
    text-shadow: none;
}
.hamburger-menu.is-visible {
    display: block; /* Show when the nav is not visible */
}

header {
    background-color: var(--header-footer-color);
    border-radius: 6px;
    /* left: .5rem; */
    margin: 0 .2rem;
    /* position: fixed; */
    /* right: .5rem; */
    top: 5px;
}

html {
    font-family: "Lato", sans-serif;
    font-size: 15pt;
    width: 100%;
    /* letter-spacing: .1rem; */
}

#images {
    display: flex;
    flex-direction: column;
}

.item-detail, .active {
    bottom: 5px;
}

label {
    margin-right: 10px; 
    text-align: right;
    white-space: nowrap; 
    width: 70px;
}

.logo {
    display: none; 
    height: 50vh;
}

.logo-link {
    align-items: center; 
    display: flex;
    /* display: inline-flex; */
    /* flex: 0 1 auto; */
    height: 100%;
    justify-content: center;
    padding: 0; 
}

#models {
    background-color: rgba(7, 7, 7, 0.876);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.116);
    text-align: center;
}

#models h2 {
    padding: 5px;
}

nav {
    align-items: center; 
    box-sizing: border-box;
    display: flex;
    height: 10vh;
    justify-content: space-between;
    position: relative; 
    width: 100%;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.nav-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    /* max-width: 950px; */
    /* padding: 0 20px; */
    width: 100%;
}

.nav-container a {
    color: var(--nav-link-color);
    font-family: "Lato", sans-serif;
    font-size: 1.6rem;
    font-weight: 700;
    letter-spacing: .06rem;
    text-decoration: none;  
    text-shadow: 1px 1px 2px rgba(4, 4, 4, 0.453); 
}

.nav-container a:active {
    /* color: var(--text-color); */
    text-shadow: none;
}

.nav-container a:hover {
    color: var(--button-color2);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.302); 
}

.nav-container h1 {
    /* color: var(--text-color);
    font-size: 1.75rem;
    letter-spacing: .1rem;
    margin-left: .6rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.131); */
    visibility: hidden;
}

.nav-links {
    display: flex;
    flex-grow: 1;
    justify-content: center; /* Center links */
    opacity: 1;
    transition: opacity 0.8s ease-out;
    visibility: visible;
}
.nav-links.hidden {
    opacity: 0; /* Fully transparent */
    transition: opacity 0.5s ease-out, visibility 0s linear 0.5s;
    visibility: hidden;
}

.nav-links ul {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    /* margin: 0; */
    /* padding: 0; */
    transition: all 0.3s ease-in-out;
    width: 100%;
}
.nav-links ul.open {
    display: flex;
}
/* .nav-links ul li {
    margin: 0 20px;
    padding: 0 25px; 
} */

#process {
    background-color: var(--section-color);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.253);
}

section {
    border-radius: 4px;
    margin: 15px auto;
    padding: 5px 5px;
    text-align: center;
    max-width: 975px;
}

.selector-menu, .button {
    margin: 5px 3px;
}

.swiper {
    border-radius: 8px;
    width: 100%;
    height: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

.swiper-button-prev, .swiper-button-next {
    background-color: var(--button-color); /* Semi-transparent white */
    border-radius: 50%; /* Circular shape */
    width: 50px; /* Size of the button */
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out; /* Smooth transitions for effects */
}

.swiper-button-prev::after, .swiper-button-next::after {
    font-size: 20px; /* Size of the arrow icon */
    color: var(--button-color); /* Arrow color */
    text-shadow: 0 0 3px var(--button-color2);
}

.swiper-button-prev:hover, .swiper-button-next:hover {
    transform: scale(1.1); /* Slightly larger on hover */
}

.swiper-button-prev:hover::after, .swiper-button-next:hover::after {
    color: var(--button-color2);
}

.swiper-slide {
    align-items: center;
    background-position: center;
    background-size: cover;
    border-radius: 8px;
    box-sizing: border-box;
    display: flex;
    height: 100%;
    justify-content: center;
    text-align: center;
    width: auto;
  }

.swiper-slide img {
    border-radius: 8px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.212);
    display: block;
    margin: auto;
    max-height: 85vh;
    min-height: 80vh;
    object-fit: cover;
    width: 99vw;
}

.video-container {
    display: flex;
    flex-direction: column; /* Stack videos vertically */
    align-items: center; /* Center videos horizontally */
    justify-content: center; /* Center videos vertically */
    width: 100%; /* Take full width of the container */
    margin-top: 20px; /* Optional: space from top */
}

video {
    width: 90%; /* Responsive width, adjust as needed */
    max-width: 500px; /* Maximum width of the videos */
    margin-bottom: 20px; /* Space between videos */
}

/* Media Query for smaller screens */
@media (max-width: 768px) {
    .hamburger-menu {
        align-self: flex-end;
        background: none;
        border: 0;
        display: block; /* Show the hamburger menu */
        font-size: 1.9em;
        margin: auto;
        order: 2;
        position: fixed; 
        right: .5vw;
        top: 3vh; 
        z-index: 1000;
    }

    .nav-links {
        align-items: center;
        text-align: center;
        justify-content: center;
    }

    /* .nav-container a {
        font-size: 1.3rem;
    } */

    .nav-links ul {
        align-items: center;  
        display: none; 
        flex-direction: row; 
        height: auto;
        justify-content: center;
        list-style: none; 
        margin: 0 auto; 
        padding: 0;
        width: auto; 
        z-index: 999; 
    }
    .nav-links ul li {
        margin: 0 10px;
        padding: 0 10px; 
    }

    /* Styles for when menu is toggled open */
    .nav-links ul.open {
        display: flex;
        font-size: .7rem;
        top: 2vh;
        z-index: 999;
    }
}
